<div class="container d-flex justify-content-center my-5">
  <table class="table table-bordered table-striped w-75">
    <thead class="bg-primary text-white">
      <tr>
        <th>Player Id</th>
        <th>Player Name</th>
        <th>Jersey Number</th>
        <th>Role</th>
        <th>Team Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of playerList">
        <td>{{ player.playerId }}</td>
        <td>{{ player.playerName }}</td>
        <td>{{ player.jerseyNumber }}</td>
        <td>{{ player.role }}</td>
        <td>{{ player.teamName }}</td>
      </tr>
    </tbody>
  </table>
</div>
