
<div class="container">
  <table class="table table-primary col-sm-5">
    <thead class="table-primary">
      <tr><th>Player Id</th><th>Player Name</th><th>Jersey Number</th><th>Role</th><th>Team Name</th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of playerList"><td>{{ player.playerId }}</td><td>{{ player.playerName }}</td><td>{{ player.jerseyNumber }}</td><td>{{ player.role }}</td><td>{{player.teamName}}</td>
    <td><button type="button" class="btn btn-danger"  (click)="deleteById(player.playerId)" >Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
